body {
    background-color: lightblue;
}

@media (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
        margin-top: 0px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: calc(100% - 40px);
        margin-top: 0px;
        padding: 10px;
    }
    .log {
        transform: translateX(-40px);
    }
}